div.game
  div(ng-hide='progressFinish', layout="column" layout-sm="column" layout-align="space-around center")
    md-progress-circular(md-mode="indeterminate")
    p Connecting to server

  div(ng-show='progressFinish')
    p Welcome to Say What?

    div(ng-style='socketStyle')
      | Socket connection.
    input(ng-model='roomName')
    button(ng-click='addRoom()') Console the rooms

    carcassonne-tile(tile-size='250', tile='"D"', style='display: -webkit-inline-flex;display:inline-flex')

    br

    carcassonne-board(height='600', width='800')
