doctype html
html
  head
    script(src='/js/d3.js')

    script(src='/js/angular.js')
    script(src='/js/angular-route.js')

    script(src='/js/socket.io.js')
    script(src='/js/socket.js')

    script(src='/app/app.js')
    script(src='/app/controllers.js')
    script(src='/app/directives.js')
    script(src='/app/services.js')

    link(href='/css/csBoard.css', type='text/css', rel='stylesheet')

    base(href='/')
  body(ng-app='carcassonne')
    // HEADER AND NAVBAR
    header Navbar Boom!
    div.main
      div(ng-view)
